<div class="footer text-center" style="padding: 20px">
  <%= image_tag "logo.png", width: '300' %>
  <p class="copyright">
    ©2016 MyAIVendor.com, All Rights Reserved. Proudly developed in London
  </p>
</div>
