<div class="footer text-center" style="padding: 20px">
  <%= image_tag "logo.png", width: '300' %>
  <p> ©2016 MyAIVendor.com. All Rights Reserved. </p>
  <%=image_tag("london-banner.jpg", width: '300px')%>
  <p> Proudly developed in London </p>
</div>
